[Unit]
Description=Code Serve Web Service
After=network.target

[Service]
Environment="DONT_PROMPT_WSL_INSTALL=1"
ExecStart=%h/.local/bin/code serve-web --without-connection-token --host 0.0.0.0
Restart=always

[Install]
WantedBy=default.target
