[Unit]
Description=Code Tunnel Service
After=network.target

[Service]
Environment="DONT_PROMPT_WSL_INSTALL=1"
ExecStart=code tunnel --accept-server-license-terms --name %H
Restart=always

[Install]
WantedBy=multi-user.target
